<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error| Google Index Checker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/done.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon">
</head>

<body>
    <div>
        <h3>Google Index Checking got Error!</h3>
        <button>
            {{message}}
        </button>
        <a href="./">
            <p>Back to home page</p>
        </a>
        <div class="link-to-sheet">
            <a href="{{url_to_sheets}}" target="_blank"> Open Sheets</a>
        </div>
    </div>
</body>

</html>