<html>

<head>
    <title>Google Index Checker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="container">
        <div class="title-container">
            <h1>Google Index Checker</h1>
        </div>
        <div class="form-container">
            <h2> Upload Proxy Server List</h2>
            <form action="/working" method="post" enctype="multipart/form-data">
                <div class="file-input">
                    <label for="file">Select a file with proxy servers in it</label>
                    <input type="file" id="file" class="file" name="proxy-file"
                        title="A file with proxies for checking (seperate by newline)">
                </div>

                <input class="submit-button" type="submit" value="Start"
                    title="Start searching for unindexed urls using the given sitemaps">
            </form>

            <div class="link-to-sheet">
                <a href="{{url_to_sheets}}" target="_blank"> Open Sheets</a>
            </div>
        </div>

    </div>
</body>

</html>