<html>

<head>
    <title>Webpage Indexing Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>

<body>
    <div class="container">
        <div class="title-container">
            <h1>Webpage Indexing Tracker</h1>
        </div>
        <div class="form-container">
            <h2> Upload Proxy Server List</h2>
            <form action="/check" method="post" enctype="multipart/form-data">
                <div class="file-input">
                    <label for="file">Select a file with proxy servers in it</label>
                    <input type="file" id="file" class="file" name="proxy-file" required
                        title="A file with proxies for checking (seperate by newline)">
                </div>

                <input class="submit-button" type="submit" value="Start"
                    title="Starts the Url hunt and checks for indexing based on set count.">
            </form>

            <div class="link-to-sheet">
                <a href="{{url_to_sheets}}" target="_blank"> Open Sheets</a>
            </div>
        </div>
        <div id="progress-container" class="progress-container">
            <div class="progress-text">
                <pre id="progress">Click `Start` to update list of unindexed URLs</pre>
                <pre id="error">{{error}}</pre>
            </div>

        </div>
    </div>

    <script>
        var res;

        const updateProgress = async () => {
            const res = await fetch("http://" + document.domain + ":" + location.port + "/api");
            const text = await res.text();
            const text_as_json = JSON.parse(text);

            if (text_as_json["progress"] !== "") {
                document.getElementById("progress").innerHTML = text_as_json["progress"];
            }

            if (text_as_json["is_working"] === "True") {
                setTimeout(updateProgress, 1000);
            }

        };

        const buttonEl = document.querySelector(".submit-button");
        buttonEl.addEventListener("click", () => {
            document.getElementById("progress").innerHTML = "Starting...";
            updateProgress();
        });



    </script>

</body>

</html>