<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application Working | Google Index Checker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/worker.css')}}">
</head>

<body>
    <div class="container">
        <div class="title-container">
            <h2>Google Index Checker Running</h2>
            <p>Please be patient</p>
        </div>

        <div id="progress-container" class="progress-container">
            <div class="progress-filler"></div>
            <div class="progress-text">
                <pre id="progress"></pre>

            </div>
        </div>
        <div class="link-to-sheet">
            <a href="{{url_to_sheets}}" target="_blank"> Open Sheets</a>
        </div>
    </div>

    <script>
        setInterval(async () => {
            const res = await fetch("https://" + document.domain + ":" + location.port + "/api");
            const text = await res.text();
            const text_as_json = JSON.parse(text);
            if (text_as_json["is_working"] == "False") {
                window.location.href = "./done"
            }
            if (text_as_json["progress"].startsWith("Progress")) {
                let progress = text_as_json["progress"];
                let lower_limit = progress.split("/")[0].split(" ")[1];
                let upper_limit = progress.split("/")[1];
                let width_in_percent = (lower_limit / upper_limit) * 100;
                document.getElementsByClassName("progress-filler")[0].style.width = width_in_percent + "%";
            }
            document.getElementById("progress").innerHTML = text_as_json["progress"];
        }, 2000)
    </script>
</body>

</html>